@font-face {
    font-family: 'font';
    src: url('sp-light.otf');
}

body {
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#wrap {
    height: 1470px;
    max-width: 828px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 48px;
    background-image: url('bg.png');
    background-size: cover;
    position: relative;
    
    overflow: hidden;
}

#head {
    height: 167px;
    background-color: #1262a6;
    border-bottom: 1px solid #115490;
    background-image: url('header.png');
    background-size: cover;
}

#bar {
    height: 95px;
    background-color: #1262a6;
    border-bottom: 1px solid #115490;
    background-image: url('bar.png');
    background-size: contain;
}   

.t {
    margin-top: 78px; 
    width: 2390px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    gap: 47px;
}

#ticket1 {
    width: 734px;
    height: 887px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    background-color: #bf0407;
    margin-left: 47px;
}

#ticket2 {
    width: 734px;
    height: 1029px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    background-color: #bf0407;
}

#ticket3 {
    width: 734px;
    height: 884px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    background-color: #bf0407;
}

#qr-wrap {
    margin-top: 135px;
    background-color: white;
    width: 518px;
    height: 518px;
    margin-left:auto;
    margin-right:auto;
}

#qr-wrap img {
    width: 422px;
    height: 422px;
    padding: 48px;
}

#dots {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 27px;
    position: absolute;
    bottom: 23px;
}

#d1, #d2, #d3 {
    width: 20px;
    height: 20px;
    background-color: #adaaad;
    border-radius: 100px;
}

#d1 {
    background-color: #555555;
}

#t2img {
    overflow: hidden;
    width: 156px;
    min-height: 60px;
}

#mark {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 734px;
    height: 60px;
    margin-top: 185px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    z-index: 2;
}

#t2img img {
    overflow: hidden;
    background-color: white;
}

.line-no {
    font-family: 'font';
    color: white;
    font-size: 50px;
    padding-left: 52px;
    height: 39px;
    line-height: 39px;
}

#val {
    font-family: 'font';
    color: white;
    font-size: 62px;
    padding-left: 52px;
    height: 46px;
    line-height: 46px;
}

#code {
    font-family: 'font';
    width: 550px;
    height: 77px;
    border: 2px solid white;
    color: white;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    margin: 75px 0 52px 88px;
}

#code2 {
    font-family: 'font';
    width: 550px;
    height: 77px;
    border: 2px solid white;
    color: white;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    margin: 75px 0 52px 88px;
}

#line-no-input {
    all: unset;
}

#line-no-input {
    background-color: #bf0407;
    color: white;
    font-family: 'font';
    height: 45px;
    line-height: 39px;
    font-size: 50px;
    outline: none;
    border: none;
    margin-top: -6px;
}

#line-no-input::placeholder { 
    color: white;
 }

 #cn {
    font-family: 'font';
    color: white;
    font-size: 50px;
    padding-left: 52px;
    height: 39px;
    line-height: 39px;
    margin-bottom: 231px;
 }